table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="center" style="padding: 20px; background-color: #00afab;" )
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(align="center")
            img(src=img_path+"allergan-logo.png" width="235" height="51" style="display: block; border: 0px;")
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; padding: 20px 0px 0px;`)
            span(class="f_normal white" style="font-size: 14px; line-height: 18px;").
              Allergan USA, Inc.
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; padding: 0px;`)
            span(class="f_normal white" style="font-size: 14px; line-height: 18px;").
              5 Giralda Farms
        tr
          td(class="f_normal" align="center" style=`font-family: ${fallback}; font-size: 14px; padding: 0px;`)
            span(class="f_normal white" style="font-size: 14px; line-height: 18px;").
              Madison, NJ 07940
        tr
          td(align="center" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px; padding: 20px 100px 20px 100px;`)
            span(class="f_normal white" style="font-size: 13px; line-height: 18px;").
              Allergan® and its design are trademarks of Allergan, Inc.
              VRAYLAR® and its design are registered trademarks of Forest Laboratories Holdings Ltd., an Allergan affiliate. Licensed from Gedeon Richter Plc.© 2018 Allergan. All rights reserved.
              VRA116072 07/18
