table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="center" valign="top" style="font-size:0; padding: 20px;" bgcolor="#ffffff")
      span(class="black f_bold" style="font-size: 14px;  margin: 0;").
        #{header.isi}
  tr
    td(align="center" valign="top" style="font-size:0;" bgcolor="#ffffff")
      img(src=img_path+"line-1px.jpg" width="600" height="2")
  tr
    td(align="center" valign="top" style="font-size:0; padding: 20px;" bgcolor="#ffffff")
      span(class="gray f_normal" style="font-size: 13px;  margin: 0;").
        #{header.customer}
  tr
    td(align="center" valign="top" style="font-size:0; padding: 0px; background-image: url('./img/hero-bg.jpg'); background-repeat: no-repeat; background-position: top;" bgcolor="#702277")
      img(src=img_path+"hero-bg.jpg" width="600" height="210")
